= form_tag new_password_create_path, id: 'frmNewForgotPassword', :class => 'new-forget-form', style: 'display:none;', :autocomplete => 'off', :method => 'post' do
  - if flash[:error].present?
    .alert.alert-danger.display-show
      %button.close{"data-close" => "alert"}
      %span
        = flash[:error]
  - if flash[:notice].present?
    .alert.alert-success.display-show
      %button.close{"data-close" => "alert"}
      %span
        = flash[:notice]
  %h3 Reset Password ?
  %p Enter new password for reset password.
  .form-group
    .input-icon
      %i.fa.fa-lock
      = text_field_tag :new_password, '', class: 'form-control placeholder-no-fix', autocomplete: 'off', name: 'new_password', placeholder: 'New Password', type: 'password'
  .form-group
    .input-icon
      %i.fa.fa-lock
      = text_field_tag :new_password_confirmation, '', class: 'form-control placeholder-no-fix', autocomplete: 'off', name: 'new_password_confirmation', placeholder: 'New Password Confirmation', type: 'password'
  .form-actions
    = hidden_field_tag :token, '', name: 'token'
    = link_to('Back', login_url, :class => 'btn red btn-outline')
    %button.btn.green.pull-right{:type => "submit"} Submit