= form_tag change_password_users_path, id: 'frmUserChangePassword', :autocomplete => 'off', :method => 'post' do
  = hidden_field_tag 'id', @user[:id]
  .form-group
    %label.control-label Current Password
    = password_field_tag :current_password, '', class: 'form-control', placeholder: 'Current Password'
  .form-group
    %label.control-label New Password
    = password_field_tag :password, '', class: 'form-control', placeholder: 'New Password'
  .form-group
    %label.control-label Re-type New Password
    = password_field_tag :password_confirmation, '', class: 'form-control', placeholder: 'Re-type New Password'
  .margin-top-10
    %button.btn.green{:type => "submit"} Change Password
    %a.btn.default{:href => "javascript:;"} Cancel