=form_for @user, url: {controller: 'users', action: 'create'}, method: 'post', html: {class: 'register-form'} do |f|
  .form-group
    %label.control-label.visible-ie8.visible-ie9 Avatar
    %div
      %div
        %div
          = image_tag "/images/team_logo.png", class: "img img-responsive", id: "avatar_img"
          = f.hidden_field :id
          = f.file_field :avatar, class: "upload", id: "avatar"

        /.overlay-layer.col-lg-12.margin-horizontal-5 Upload Photo
  .form-group
    %label.control-label.visible-ie8.visible-ie9 Name
    .input-icon
      %i.fa.fa-font
      = f.text_field :name, class: 'form-control placeholder-no-fix', placeholder: 'Name', type: 'text'
  %p Enter your account details below:
  .form-group
    %label.control-label.visible-ie8.visible-ie9 Email
    .input-icon
      %i.fa.fa-envelope
      = f.text_field :email, class: 'form-control placeholder-no-fix', placeholder: 'Email', type: 'text'
  .form-group
    %label.control-label.visible-ie8.visible-ie9 Password
    .input-icon
      %i.fa.fa-lock
      = f.text_field :password, class: 'form-control placeholder-no-fix', placeholder: 'Password', type: 'password'
  .form-group
    %label.control-label.visible-ie8.visible-ie9 Re-type Your Password
    .controls
      .input-icon
        %i.fa.fa-check
        %input.form-control.placeholder-no-fix{:autocomplete => "off", :name => "rpassword", :placeholder => "Re-type Your Password", :type => "password"}/
  .form-actions
    = link_to "Back", users_path, class: "btn red btn-outline", :type => "button"
    %button#register-submit-btn.btn.green.pull-right{:type => "submit"} Sign Up

