%div.page-content-wrapper
  %div.page-content
    %h3.page-title
      User management
    %div.row
      %div.col-md-12
        %div.portlet.light.some(style="float: left;")
          %div.portlet-title
            %div.caption.pull-left
              %i.icon-social-dribbble.font-green
              %span.caption-subject.font-green.bold.uppercase
                Users
            - if current_user.admin?
              .pull-right
                = link_to "New User", new_user_path, class: "btn btn-primary pull-right"
          .portlet-body.form.form-horizontal.form-bordered.form-label-stripped
            .tab-content.form-bordered
              - if flash[:error].present?
                .alert.alert-danger.display-show
                  %button.close{"data-close" => "alert"}
                  %span
                    = flash[:error]
              - if flash[:notice].present?
                .alert.alert-success.display-show
                  %button.close{"data-close" => "alert"}
                  %span
                    = flash[:notice]
              .form-body
                %div.form-group.col-md-12.hidden-xs.hidden-sm
                  %div.text-center.col-md-1
                    %b ID
                  %div.text-center.col-md-2
                    %b Avatar
                  %div.text-center.col-md-2
                    %b Name
                  %div.text-center.col-md-2
                    %b Email
                  %div.text-center.col-md-2
                    %b Role
                  %div.text-center.col-md-2
                    %b Edit
                  %div.text-center.col-md-1
                    %b Delete
                - @users.each do |user|
                  %div.form-group.col-md-12
                    %div.text-center.col-md-1
                      #{user.id}
                    %div.text-center.col-md-2
                      %img.img-responsive(style='width: 100px; margin: 0 auto;'){:alt => "", :src => user.avatar.url}
                    %div.text-center.col-md-2
                      #{user.name}
                    %div.text-center.col-md-2
                      #{user.email}
                    %div.text-center.col-md-2
                      - if user != current_user
                        = form_for(user, url: {:action => 'update_role', :id => user.id}, method: 'post') do |f|
                          =f.select(:role, User.roles.keys.map {|role| [role.titleize, role]},{}, {class: 'form-control select2_category', style: 'margin-bottom: 10px'})
                          =f.submit 'Change Role', :class => 'btn green'
                      - else
                        #{user.role}
                    .text-cent.col-md-2
                      = link_to "Edit User", edit_user_path(user), class: "btn green"
                    %div.text-center.col-md-1
                      = link_to('Delete user', user_path(user), :data => {:confirm => 'Hey gurus ! Are you sure ?'}, :method => :delete, :class => 'btn btn-danger') unless user == current_user
