= form_for @post, html: {class: 'form-horizontal form-bordered form-label-stripped'} do |f|
  .form-body
    %div.form-group
      %label.control-label.col-md-3
        Category:
      .col-md-9
        = f.select :cat_name, ['Party', 'Cinema', 'Team Building', 'Massage', 'Other'], {}, {class: 'form-control select2_category'}
    %div.form-group
      %label.control-label.col-md-3
        Title:
      .col-md-9
        = f.text_field :title, placeholder: 'What...', class: 'form-control'
    %div.form-group
      %label.control-label.col-md-3
        Content:
      .col-md-9
        = f.text_area :content, placeholder: 'When...', rows: 18, class: 'form-control'
    %div.form-group
      %label.control-label.col-md-3
        Photo:
      .col-md-9
        = f.file_field :image_url, multipart: true
    %div.form-group
      %label.control-label.col-md-3
        Randomize time:
      .col-md-9
        = f.select :number, [1,2,3,4,5], {}, {class: 'form-control select2_category'}

    = f.hidden_field :type
  .form-actions
    .row
      .col-md-offset-3.col-md-9
        %button.btn.green{:type => 'submit'}
          Submit
        = link_to 'Cancel', posts_path(type: 'randomize'), class: 'btn default'