%div.page-content-wrapper
  %div.page-content
    %h3.page-title
      We are Gurus. We play hard, code harder
    %div.row
      %div.col-md-12
        %div.portlet.light
          %div.portlet-title
            %div.caption
              %i.icon-social-dribbble.font-green
              %span.caption-subject.font-green.bold.uppercase
                = @title
          .portlet-body.form
            - @posts.each do |post|
              - children = post.have_children?
              %div{class: "mt-element-ribbon bg-grey-steel post type_#{post.type}",
                style: "background-image: url(#{FileStore.public_url(post.image_url)}) !important",
                'data-url': "#{post_path(post.id)}"}
                %div.header
                  %div{class: "category ribbon ribbon-color-default uppercase"}
                    = "#{post.cat_name}" + (children ? " (#{children.count+1})" : "")
                  %div.control
                    - if post.authorized? current_user.id
                      %a{href: edit_post_path(post)}
                        Edit
                      |
                      %a.delete{data: {toggle: 'modal', target: '#confirm-delete', href: post_path(post)}}
                        Delete
                %div.space
                %div.text
                  %div.title
                    = post.title
                  -#%div.content
                  -#  = post.content
                %div.footer
                  -if post.type == 1
                    - if children
                      - post_with_highest_up = Post.max_up(post.id)
                      - count_up = post_with_highest_up.vote_result_array[:up].length
                      - count_down = post_with_highest_up.vote_result_array[:down].length
                    - else
                      - count_up = post.vote_result_array[:up].length
                      - count_down = post.vote_result_array[:down].length
                    %div.up
                      %div.number
                        = count_up
                      Up
                    %div.down
                      %div.number
                        = count_down
                      Down
                    %div.unknown
                      %div.number
                        = @users.count - (count_up + count_down)
                      Unknown
                  - else
                    - post.randomise_result_array.each do |user_id|
                      %div.user{style: "background: url(/images/avatars/" + user_id + ".jpg)"}

:javascript
  $(document).ready(function() {
    $('.post .space, .post .text').click(function() {
      window.location = $(this).parents('.post').data('url')
    })
  })
