%h1 Dashboard
- @posts.each do |post|
  %div{class: "mt-element-ribbon bg-grey-steel post type_#{post.type}", style: "background-image: url(../images/#{post.image_url}) !important", 'data-id': "#{post.id}"}
    %div.header
      %div{class: "category ribbon ribbon-color-default uppercase"}
        = post.cat_name
      %div.control
        %a
          Edit
        |
        %a
          Delete
    %div.space
    %div.text
      %div.title
        = post.title
      %div.content
        = post.content
    %div.footer
      -if post.type == 1
        %div.up
          %div.number
            = post.up
          Up
        %div.down
          %div.number
            = post.down
          Down
        %div.unknown
          %div.number
            = @users_count
          Unknown
      - else
        %div.user

:javascript
  $(document).ready(function() {
    $('.post').click(function() {
      window.location = 'posts/' + $(this).data('id')
    })

    $('.post a').click(function(e) {
      e.preventDefault();
      e.stopPropagation();
    })
  })