%div.page-content-wrapper
  %div.page-content
    %div.row
      %div.col-md-12
        %div.portlet.light
          %div.portlet-title
            %div.caption
              %i.icon-social-dribbble.font-green
              %span.caption-subject.font-green.bold.uppercase
                = @post.cat_name
          %div.row
            %div.col-sm-6{:style => 'height: 700px'}
              %img.img-rounded.img-responsive{:src => @post.image_url}
            %div.col-sm-6
              .panel.panel-info
                .panel-heading
                  %h3{style: 'word-wrap: break-word;'}
                    =@post.title
                    &nbsp;&nbsp;
                  =link_to down_post_path(@post) ,remote: true, class: 'btn btn-outline btn-circle btn-lg red' do
                    %i.glyphicon.glyphicon-thumbs-down
                    =@post.down.split(',').count()
                  =link_to up_post_path(@post), remote: true, class: 'btn btn-outline btn-circle btn-lg blue' do
                    %i.glyphicon.glyphicon-thumbs-up
                    =@post.up.split(',').count()
                .panel-body
                  =@post.content
          %div.portlet-body.flip-scroll
-#%h1 Randomiser
-#%h2 Title
-#%h3 Category
-#This is content
-#%h2 Members
-#%div.container
-#  - index = 0
-#  - (1..10).each_with_index do |v, i|
-#    %div.user
-#      %div.placeholder
-#      %div.name
-#        Name #{i}
-#%div.container
-#  %button.btn.green.submit.start
-#    Start
-#
-#:javascript
-#  var number_of_pointers = #{@view_params[:number]}
-#  var result = #{@view_params[:result]}
-#  var post_id = #{@view_params[:post][:id]}
-#
-#:javascript
-#  $(document).ready(function() {
-#    var nUsers = $('.user').length
-#
-#    $('button.submit').click( function() {
-#      if( $(this).hasClass('start') ) {
-#        startRandomise()
-#      } else if( $(this).hasClass('finish') ) {
-#        completeRandomise()
-#      }
-#    })
-#
-#    function completeRandomise() {
-#      $.ajax({
-#        method: "POST",
-#        url: 'update_result',
-#        data: {result: result, id: post_id},
-#      }).done(function(data) {
-#        window.location = data.url
-#      })
-#    }
-#
-#    function startRandomise() {
-#      $button = $('button.submit')
-#      $button.attr( {'disabled': true} )
-#      $button.text('Running...')
-#
-#      for(i=0;i<number_of_pointers;i++)
-#        runPointer(i);
-#    }
-#
-#    function runPointer(index) {
-#      var time = 3000
-#      var step = 500
-#      var randomInterval = setInterval( function () {
-#        movePointer(index, getRandomNumber(nUsers))
-#        time -= step
-#        if(time <= 0) {
-#          movePointer(index, result[index])
-#          clearInterval(randomInterval)
-#
-#          //this will be executed number of times which is set by number_of_pointers
-#          //but its temporarily OK for now
-#          $('button.submit').attr( {'class': 'btn red submit finish', 'disabled': false} )
-#          $('button.submit').text('Finish')
-#        }
-#      }, step)
-#    }
-#
-#    function getRandomNumber(max) {
-#      return Math.round(Math.random() * (max - 1))
-#    }
-#
-#    function movePointer(index, position) {
-#      $('.user').find('.boob.number_' + index).remove()
-#      $('.user').eq(position).find('.placeholder').append('<div class="boob number_' +  index +'"></div>')
-#    }
-#  })
