$panel = $('.panel[data-id="<%= @post.id %>"]')
<% if @ajax_message[:success].present? %>
  $panel.find('.btn.blue span').text("<%= @post.up.split(',').count() %>")

  $user_div = $('<div class="user" style="background: url(' + <%= current_user.get_avatar_path %> + ')"></div>')
  $user_div.css({opacity:0});
  $panel.find('.panel-body .result.blue').append($user_div.animate({opacity:1}, 'slow'))

  $panel.find('.message').addClass('success').html('<%= @ajax_message[:success] %>').show().delay(2000).fadeOut('fast')
<% else %>
  $panel.find('.message').addClass('error').html('<%= @ajax_message[:error] %>').show().delay(2000).fadeOut('fast')
<% end %>