%div.page-sidebar-wrapper
  %div.page-sidebar.navbar-collapse.collapse
    %ul.page-sidebar-menu.page-header-fixed.page-sidebar-menu-hover-submenu{"data-auto-scroll" => "true", "data-keep-expanded" => "false", "data-slide-speed" => "200"}
      %li.nav-item.start.active.open
        = link_to posts_path, class: 'nav-link' do
          %i.icon-social-dribbble
          %span.title My Posts
          %span.selected
          %span.arrow.open
        %ul.sub-menu
          %li.nav-item
            = link_to posts_new_vote_url, class: 'nav-link' do
              %span.title New Vote
          %li.nav-item
            = link_to posts_new_randomize_url, class: 'nav-link' do
              %span.title New Randomise
      %li.nav-item
        = link_to posts_votes_url, class: 'nav-link' do
          %i.icon-bar-chart
          %span.title Vote
          %span.arrow
        = link_to posts_randomizes_url, class: 'nav-link' do
          %i.icon-layers
          %span.title Randomizer
          %span.arrow
