%div.page-sidebar-wrapper
  %div.page-sidebar.navbar-collapse.collapse
    %ul.page-sidebar-menu.page-header-fixed.page-sidebar-menu-hover-submenu{"data-auto-scroll" => "true", "data-keep-expanded" => "false", "data-slide-speed" => "200"}
      %li.nav-item.start.active.open
        = link_to posts_path, class: 'nav-link' do
          %i.icon-social-dribbble
          %span.title My Posts
          %span.selected
          %span.arrow.open
        %ul.sub-menu
          %li.nav-item
            = link_to new_vote_posts_path, class: 'nav-link' do
              %span.title New Vote
          %li.nav-item
            = link_to new_randomize_posts_path, class: 'nav-link' do
              %span.title New Randomise
      %li.nav-item
        = link_to votes_posts_path, class: 'nav-link' do
          %i.icon-bar-chart
          %span.title Vote
      %li.nav-item
        = link_to randomizes_posts_path, class: 'nav-link' do
          %i.icon-layers
          %span.title Randomizer
          %span.arrow
      %li.nav-item
        - if policy(@current_user).index?
          = link_to users_path, class: 'nav-link' do
            %i.icon-users
            %span.title Users
            %span.arrow
      %li.nav-item
        = link_to events_path, class: 'nav-link' do
          %i.icon-calendar
          %span.title Events
          %span.arrow
