!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Symphony | Auto Pricing System
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = csrf_meta_tag
    = stylesheet_link_tag 'application', media: 'all', data: {'turbolinks-track' => true}
    = javascript_include_tag 'application', data: {'turbolinks-track' => true}
  %body.page-header-fixed.page-sidebar-closed-hide-logo.page-container-bg-solid
    = render 'layouts/header'
    %div.page-container
      = render 'layouts/sidebar'
      = yield
    = render 'layouts/footer'
    = render 'layouts/confirm_delete'

:javascript
  var notice = '#{flash[:notice].present?? flash[:notice] : ""}';

  $('.select2_category').select2({
    theme: "classic"
  });
